@import "tailwindcss";
/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.your-element {
  width: 519px;
  height: 259.5px;

  border: 6px dotted black; /* You can change 'black' to any color */
  transform: rotate(-90deg);
}
